@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  color: #222;
}

button {
  box-sizing: border-box;
  border-radius: 0.3rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 16rem;
  height: 4.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button.select {
  color: #fff;
  background: #3BB88C;
  border: none;
  cursor: pointer;
}
button.non-select {
  color: #999999;
  background: #F5FCF9;
  border: 1px solid #BBBBBB;
}
button.disable {
  width: 12rem;
  color: #999999;
  background: #DDDDDD;
  border: 1px solid #999999;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../../../assets/images/common/arrow_down.png") calc(100% - 1.1rem) center no-repeat #fff;
  background-size: 2.4rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
  padding: 0.9rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid #BBBBBB;
}
select:focus {
  outline: none;
}
select.txt-select {
  width: 16rem;
  height: 4.4rem;
}
select.num-select {
  width: 12rem;
  height: 4.4rem;
}
select option {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
}

input[type=checkbox] {
  display: none !important;
  box-sizing: border-box;
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #BBBBBB;
  vertical-align: middle;
}
input[type=checkbox] + label {
  display: inline-block;
  background: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid #BBBBBB;
}
input[type=checkbox]:checked + label {
  background: url("../../../assets/images/common/check.png") center/auto no-repeat #fff;
  border-color: #3BB88C;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.page ul li {
  box-sizing: border-box;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #BBBBBB;
  background: #fff;
  border-radius: 0.3rem;
  text-align: center;
}
.page ul li a {
  color: #222;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.hide-item {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  color: #222;
}

button {
  box-sizing: border-box;
  border-radius: 0.3rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 16rem;
  height: 4.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button.select {
  color: #fff;
  background: #3BB88C;
  border: none;
  cursor: pointer;
}
button.non-select {
  color: #999999;
  background: #F5FCF9;
  border: 1px solid #BBBBBB;
}
button.disable {
  width: 12rem;
  color: #999999;
  background: #DDDDDD;
  border: 1px solid #999999;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../../../assets/images/common/arrow_down.png") calc(100% - 1.1rem) center no-repeat #fff;
  background-size: 2.4rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
  padding: 0.9rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid #BBBBBB;
}
select:focus {
  outline: none;
}
select.txt-select {
  width: 16rem;
  height: 4.4rem;
}
select.num-select {
  width: 12rem;
  height: 4.4rem;
}
select option {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
}

input[type=checkbox] {
  display: none !important;
  box-sizing: border-box;
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  outline: none;
  border: 1px solid #BBBBBB;
  vertical-align: middle;
}
input[type=checkbox] + label {
  display: inline-block;
  background: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid #BBBBBB;
}
input[type=checkbox]:checked + label {
  background: url("../../../assets/images/common/check.png") center/auto no-repeat #fff;
  border-color: #3BB88C;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.page ul li {
  box-sizing: border-box;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #BBBBBB;
  background: #fff;
  border-radius: 0.3rem;
  text-align: center;
}
.page ul li a {
  color: #222;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.hide-item {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

#header {
  position: relative;
  width: 100%;
}
#header .inner {
  width: 100%;
  max-width: 1920px;
  height: 7.4rem;
  background: #fff;
  box-shadow: 0 0 3px #afafaf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header .inner .logo {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translate(0, -50%);
}
#header .inner .gnb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#header .inner .gnb li {
  width: 24.5rem;
  text-align: center;
}
#header .inner .gnb li a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
}
#header .inner .menu {
  position: absolute;
  left: 0;
  top: 7.4rem;
  width: 100%;
  height: 34.6rem;
  background: #fff;
  box-shadow: 0 0 3px #afafaf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}
#header .inner .menu .inner-menu {
  width: 24.5rem;
  padding-top: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
#header .inner .menu .inner-menu li {
  width: 100%;
  text-align: center;
}
#header .inner .menu .inner-menu li a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #222;
  font-size: 1.4rem;
}
#header .inner .login {
  position: absolute;
  right: 1.8rem;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
#header .inner .login > div {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #222;
}
#header .inner .login > div > span {
  font-size: 0.9rem;
  font-weight: 400;
}
#header .inner .login button {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  background: #3BB88C;
  border-radius: 0.3rem;
  border: none;
  width: 7.6rem;
  height: 2rem;
  cursor: pointer;
}

#container #distributor {
  width: 100%;
}
#container #distributor .distributor-inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 3.3rem;
}
#container #distributor .distributor-inner > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2.4rem;
  padding-bottom: 0.3rem;
}
#container #distributor .distributor-inner > ul li {
  position: relative;
}
#container #distributor .distributor-inner > ul li:first-child {
  padding-right: 0.5rem;
}
#container #distributor .distributor-inner > ul li:nth-child(3) {
  padding-left: 1.5rem;
}
#container #distributor .distributor-inner > ul li:nth-child(3)::before {
  content: ">";
  position: absolute;
  left: 0.3rem;
  top: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999999;
}
#container #distributor .distributor-inner > ul li a {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999999;
}
#container #distributor .distributor-inner > strong {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #222;
  line-height: 4.4rem;
}
#container #distributor .distributor-inner .btn-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem 0 1.2rem;
}
#container #distributor .distributor-inner .search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#container #distributor .distributor-inner .search-container > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}
#container #distributor .distributor-inner .search-container > div input {
  box-sizing: border-box;
  width: 38rem;
  height: 4.4rem;
  background: #fff;
  border-radius: 0.3rem;
  border: 1px solid #BBBBBB;
  padding: 0.9rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
  line-height: 2.4rem;
}
#container #distributor .distributor-inner .search-container > div input::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #999999;
  line-height: 2.4rem;
}
#container #distributor .distributor-inner .search-container > div input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #999999;
  line-height: 2.4rem;
}
#container #distributor .distributor-inner .search-container > div input:focus {
  outline: none;
}
#container #distributor .distributor-inner .search-container .choice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.4rem;
}
#container #distributor .distributor-inner .search-container .choice button {
  justify-content: flex-start;
  width: 12rem;
  padding-left: 3.3rem;
  gap: 0.5rem;
}
#container #distributor .result {
  width: 100%;
  padding-top: 1.2rem;
}
#container #distributor .result table {
  width: 100%;
  border: 1px solid #BBBBBB;
}
#container #distributor .result table thead {
  background: #3BB88C;
}
#container #distributor .result table thead tr {
  height: 3rem;
}
#container #distributor .result table thead tr th {
  vertical-align: middle;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}
#container #distributor .result table tbody tr {
  height: 3.6rem;
}
#container #distributor .result table tbody tr:nth-child(odd) {
  background: #F5FCF9;
}
#container #distributor .result table tbody tr:nth-child(even) {
  background: #fff;
}
#container #distributor .result table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #BBBBBB;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #222;
  letter-spacing: -0.1rem;
}