@import "responsive";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

$black : #222;
$white : #fff;
$notosans: 'Noto Sans KR', sans-serif;

@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    line-height: 1;
    color: $black;
}

button {
    box-sizing: border-box;
    border-radius: 0.3rem;
    font-family: $notosans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    @include flexbox(row, center, center);
    cursor: pointer;
    &.select {
        color: $white;
        background: #3BB88C;
        border: none;
        cursor: pointer;
    }
    &.non-select {
        color: #999999;
        background: #F5FCF9;
        border: 1px solid #BBBBBB;
    }
    &.disable {
        color: #999999;
        background: #DDDDDD;
        border: 1px solid #999999;
    }
    &.plus {
        justify-content: flex-start;
        width: 12rem;
        padding-left: 3.3rem;
        gap: 0.5rem;
    }
    &.btn-type1 {
        width: 16rem;
        height: 4.4rem;
    }
    &.btn-type2 {
        width: 12rem;
        height: 4.4rem;
    }
    &.tb-btn {
        width: 8rem;
        height: 2.4rem;
        margin: 0 auto;
        font-size: 1.4rem;
        color: $white;
        background: #3BB88C;
        border: none;
        cursor: pointer;
    }
}

select {
    appearance: none;
    background: url('../../../assets/images/common/arrow_down.png') calc(100% - 1.1rem) center no-repeat $white;
    background-size: 2.4rem;
    font-family: $notosans;
    font-weight: 400;
    font-size: 1.6rem;
    color: $black;
    padding: 0.9rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid #BBBBBB;
    &:focus {
        outline: none;
    }
    &.txt-select {
        width: 16rem;
        height: 4.4rem;
    }
    &.num-select {
        width: 12rem;
        height: 4.4rem;
    }
    option {
        font-family: $notosans;
        font-weight: 400;
        font-size: 1.6rem;
        color: $black;
    }
}

input[type=checkbox] {
    display: none !important;
    box-sizing: border-box;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    outline: none;
    border: 1px solid #BBBBBB;
    vertical-align: middle;
    & + label {
        display: inline-block;
        background: $white;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border: 1px solid #BBBBBB;
    }
    &:checked {
        & + label {
            background: url('../../../assets/images/common/check.png') center/auto no-repeat $white;
            border-color: #3BB88C;
        }
    }
}

#container {
    #distributor {
        width: 100%;
        .distributor-inner {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding-top: 3.3rem;
            > ul {
                @include flexbox(row, flex-start, center);
                height: 2.4rem;
                padding-bottom: 0.3rem;
                li {
                    position: relative;
                    &:first-child {
                        padding-right: 0.5rem;
                    }
                    &:nth-child(3) {
                        padding-left: 1.5rem;
                        &::before {
                            content: '>';
                            position: absolute;
                            left: 0.3rem;
                            top: 0;
                            font-family: $notosans;
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #999999;
                        }
                    }
                    a {
                        font-family: $notosans;
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: #999999;
                    }
                }
            }
            > strong {
                font-family: $notosans;
                font-weight: 700;
                font-size: 3rem;
                color: $black;
                line-height: 4.4rem;
            }
            .setting {
                padding-top: 1.6rem;
                @include flexbox(column, flex-start, flex-start);
                width: 100%;
                .btn-wrap {
                    width: 100%;
                    @include flexbox(row, flex-start, center);
                    gap: 0.8rem;
                    padding-bottom: 1.2rem;
                }
                .form-container {
                    width: 100%;
                    @include flexbox(row, space-between, center);
                    .search-container {
                        @include flexbox(row, flex-start, center);
                        gap: 1.4rem;
                        input {
                            box-sizing: border-box;
                            width: 38rem;
                            height: 4.4rem;
                            background: $white;
                            border-radius: 0.3rem;
                            border: 1px solid #BBBBBB;
                            padding: 0.9rem;
                            font-family: $notosans;
                            font-weight: 400;
                            font-size: 1.6rem;
                            color: $black;
                            line-height: 2.4rem;
                            &::placeholder {
                                font-family: $notosans;
                                font-weight: 400;
                                font-size: 1.6rem;
                                color: #999999;
                                line-height: 2.4rem;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                    .select-container {
                        @include flexbox(row, flex-start, center);
                        gap: 1.4rem;
                    }
                }
            }
            .result {
                width: 100%;
                margin-top: 1.2rem;
                table {
                    width: 100%;
                    border: 1px solid #BBBBBB;
                    thead {
                        background: #3BB88C;
                        tr {
                            height: 3rem;
                            th {
                                vertical-align: middle;
                                font-family: $notosans;
                                font-weight: 500;
                                font-size: 1.6rem;
                                color: $white;
                                line-height: 2.4rem;
                            }
                        }
                    }
                    tbody {
                        tr {
                            height: 3.6rem;
                            &:nth-child(odd) {
                                background: #F5FCF9;
                            }
                            &:nth-child(even) {
                                background: $white;
                            }
                            td {
                                text-align: center;
                                vertical-align: middle;
                                border: 1px solid #BBBBBB;
                                font-family: $notosans;
                                font-weight: 400;
                                font-size: 1.4rem;
                                color: $black;
                                letter-spacing: -0.09em;
                                line-height: 2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page {
    position: relative;
    margin: 2.6rem 0 5rem;
    width: 100%;
    @include flexbox(row,center, center);
    ul {
        @include flexbox(row,center,center);
        gap: 0.6rem;
        li {
            position: relative;
            box-sizing: border-box;
            width: 3.2rem;
            height: 3.2rem;
            border: 1px solid #BBBBBB;
            background: $white;
            border-radius: 0.3rem;
            text-align: center;
            &.first-btn {
                a {
                    background: url('../../../assets/images/common/first_arrow.png') no-repeat 100% 20%/auto;
                }
            }
            &.prev-btn {
                a {
                    background: url('../../../assets/images/common/prev_arrow.png') no-repeat 50% 40%/auto;
                }
            }
            &.next-btn {
                a {
                    background: url('../../../assets/images/common/next_arrow.png') no-repeat 60% 40%/auto;
                }
            }
            &.end-btn {
                a {
                    background: url('../../../assets/images/common/end_arrow.png') no-repeat 30% 20%/auto;
                }
            }
            a {
                width: 100%;
                height: 100%;
                color: $black;
                font-family: $notosans;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.4rem;
                margin-top: 0.2rem;
            }
        }
    }
}

.hide-item {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}