@import "responsive";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

$black : #222;
$white : #fff;
$notosans: 'Noto Sans', sans-serif;

@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    line-height: 1;
    color: $black;
}

button {
    box-sizing: border-box;
    border-radius: 0.3rem;
    font-family: $notosans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 16rem;
    height: 4.4rem;
    @include flexbox(row, center, center);
    &.select {
        color: $white;
        background: #3BB88C;
        border: none;
        cursor: pointer;
    }
    &.non-select {
        color: #999999;
        background: #F5FCF9;
        border: 1px solid #BBBBBB;
    }
    &.disable {
        width: 12rem;
        color: #999999;
        background: #DDDDDD;
        border: 1px solid #999999;
    }
}

select {
    appearance: none;
    background: url('../../../assets/images/common/arrow_down.png') calc(100% - 1.1rem) center no-repeat $white;
    background-size: 2.4rem;
    font-family: $notosans;
    font-weight: 400;
    font-size: 1.6rem;
    color: $black;
    padding: 0.9rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid #BBBBBB;
    &:focus {
        outline: none;
    }
    &.txt-select {
        width: 16rem;
        height: 4.4rem;
    }
    &.num-select {
        width: 12rem;
        height: 4.4rem;
    }
    option {
        font-family: $notosans;
        font-weight: 400;
        font-size: 1.6rem;
        color: $black;
    }
}

input[type=checkbox] {
    display: none !important;
    box-sizing: border-box;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    outline: none;
    border: 1px solid #BBBBBB;
    vertical-align: middle;
    & + label {
        display: inline-block;
        background: $white;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border: 1px solid #BBBBBB;
    }
    &:checked {
        & + label {
            background: url('../../../assets/images/common/check.png') center/auto no-repeat $white;
            border-color: #3BB88C;
        }
    }
}

.page {
    width: 100%;
    @include flexbox(row,center, center);
    ul {
        @include flexbox(row,center,center);
        gap: 0.6rem;
        li {
            box-sizing: border-box;
            width: 3.2rem;
            height: 3.2rem;
            border: 1px solid #BBBBBB;
            background: $white;
            border-radius: 0.3rem;
            text-align: center;
            a {
                color: $black;
                font-family: $notosans;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 3.2rem;
            }
        }
    }
}

.hide-item {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}